* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 450px;
  background-color: rgba(17, 16, 16, 0.704);
}

.todo-list {
  border-radius: 10px;
  width: 500px;
  height: 550px;
  margin: 150px auto;
  background-color: cadetblue;
  padding: 20px 40px;
}

.list {
  list-style: none;
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  padding: 10px 20px;
}

.list::-webkit-scrollbar {
  width: 3px;
}

.list::-webkit-scrollbar-track {
  background-color: grey;
}

.list::-webkit-scrollbar-thumb {
  background-color: black;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  background-color: #fff;
  padding: 5px 20px;
  border-radius: 15px;
  font-size: 19px;
  box-shadow: -5px 8px 10px rgba(0, 0, 0, 0.367);
  cursor: pointer;
}

.list-item > label {
  cursor: pointer;
}

.list-item:hover {
  background-color: beige;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  width: 100%;
}

.button {
  outline: 0;
  border: 0;
  border-radius: 21px;
  margin-top: 55px;
  background-color: blue;
  color: #fff;
  padding: 10px 24px;
  font-size: 17px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.checked {
  text-decoration: line-through;
  background-color: greenyellow;
}

.checked:hover {
  background-color: greenyellow;
  text-decoration: line-through;
}

.no-checked {
  text-decoration: line-through;
  background-color: red;
}
.no-checked:hover {
  text-decoration: line-through;
  background-color: red;
}

.input {
  outline: 0;
  width: 100%;
  height: 40px;
  background-color: #fff;
  border: 0;
  margin-top: 55px;
  border-radius: 10px 0 0 10px;
  font-size: 17px;
  padding: 10px;
  color: black;
}

.plusBtn {
  display: block;
  width: 150px;
  height: 80px;
  margin: 20px auto;
  outline: 0;
  border: 0;
  font-size: 45px;
  background-color: rgb(6, 155, 33);
  color: blue;
  border-radius: 30px;
  cursor: pointer;
}
.plusBtn:hover {
  background-color: aquamarine;
}

.edit-s {   
  color: blue;
  padding: 3px 6px;
  margin: 5px 5px;
  background-color: black;
  border-radius: 5px;
  
}
.delete-s {
  color: orange;
  background-color: black;
  border-radius: 5px;
  padding: 3px 6px;
  margin: 5px 5px;
}
.checked-s {
  color: green;
  background-color: black;
  border-radius: 5px;
  margin: 10px 10px;
  padding: 3px 6px;
}
.no-checked-s {
  color: red;
  background-color: black;
  border-radius: 5px;
  margin: 5px 5px;
  padding: 3px 6px;
}

.hide {
  display: none;
}
